$light: #f7f7f7;
$text: #848789;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Lato", sans-serif;
}

h2 {
  letter-spacing: 3.6px;
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  color: $text;
  font-size: 24px;
  font-style: italic;
}

p {
  color: #848789;
}

.header {
  min-height: 800px;
  padding-top: 29px;
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2.6px;
  list-style-type: none;
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  &__item {
    margin: 0 16px;
  }
  &__link {
  letter-spacing: 2.6px;
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
    &:hover {
      border-bottom: 1px solid #4d4959;
      color: #4d4959;
      text-decoration: none;
    }
  }
  &__logo {
    margin: 0 45px;
    .nav__link:hover {
      border: none;
    }
  }
}

.icon {
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  &-01 {
    width: 52px;
    height: 43px;
    background-image: url("../img/icons/icon01.png");
  }
  &-02 {
    width: 41px;
    height: 30px;
    background-image: url("../img/icons/icon02.png");
  }
  &-03 {
    width: 32px;
    height: 32px;
    background-image: url("../img/icons/icon03.png");
  }
  &-04 {
    width: 23px;
    height: 41px;
    background-image: url("../img/icons/icon04.png");
  }
  &-twitter {
    width: 32px;
    height: 27px;
    margin-bottom: 34px;
    background-image: url("../img/icons/icon-twitter.png");
  }
}

.section-info {
  padding: 117px 280px;
  text-align: center;
  background-color: $light;
  h2 {
    margin: 31px 0 21px;
  }
  p {
    line-height: 2.1;
    color: #848789;
    font-weight: 400;
  }
}

.section-main {
  display: grid;
  grid-template: repeat(3, 2fr 1fr)/ repeat(3, 1fr);
}

.main {
  &-photo {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-large {
      &-1 {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
        background-image: url("../img/img01.jpg");
        &::after {
          content: "";
          position: absolute;
          top: calc(50% - 113px/2);
          left: calc(50% - 118px/2);
          width: 113px;
          height: 118px;
          background-image: url("../img/logo-bike.png");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 113px 118px;
        }
      }
      &-2 {
        grid-row: 3 / 5;
        grid-column: 2 / 4;
        background-image: url("../img/img04.jpg");
        &::after {
          content: "";
          position: absolute;
          top: calc(50% - 152px/2);
          left: calc(50% - 177px/2);
          width: 177px;
          height: 152px;
          background-image: url("../img/logo-vintage.png");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 177px 152px;
        }
      }
    }
    &-medium {
      &-1 {
        grid-row: 5 / 7;
        grid-column: 1 / 2;
        background-image: url("../img/img05.jpg");
        &::after {
          content: "";
          position: absolute;
          top: calc(50% - 67px/2);
          left: calc(50% - 208px/2);
          width: 208px;
          height: 67px;
          background-image: url("../img/logo-text.png");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 208px 67px;
        }
      }
      &-2 {
        grid-row: 5 / 7;
        grid-column: 3 / 4;
        background-image: url("../img/img07.jpg");
      }
    }
    &-small {
      &-1 {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        background-image: url("../img/img02.jpg");
      }
      &-2 {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        background-image: url("../img/img03.jpg");
      }
      &-3 {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
        background-image: url("../img/img06.jpg");
      }
    }
  }
  &-descr {
    padding: 70px 68px;
    text-align: center;
    font-size: 16px;
    h2 {
      margin: 31px 0 26px;
    }
    p {
      line-height: 1.9;
      text-align: justify;
    }
    hr {
      width: 50px;
      margin: 40px auto 0;
    }
    &-1 {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
    }
    &-2 {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
    &-3 {
      grid-row: 5 / 7;
      grid-column: 2 / 3;
    }
  }
}

.section-twitter {
  padding: 124px 301px 173px;
  text-align: center;
  background-color: $light;
  h2 {
    letter-spacing: 1.8px;
    text-transform: none;
    span {
      color: $text;
      font-weight: 300;
    }
  }
  p {
    line-height: 1.4;
    font-size: 24px;
    font-style: italic;
  }
}

.carousel {
  &-indicators {
    bottom: -122px;
    li {
      width: 11px;
      height: 11px;
      border: 1px solid #c8c8c8;
      border-radius: 100%;
      opacity: 1;
      background-color: $light;
    }
    .active {
      background-color: #a9afb3;
    }
  }
}

.section-shop {
  display: grid;
  grid-template: repeat(2, 1fr) 1fr / repeat(6, 1fr);
  background-color: #282f35;
}

.shop {
  &-item {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(100, 194, 158, 0.8);
      background-image: url("../img/icons/icon-shop.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 98px 54px;
      transition: all 0.3s;
    }
    &:hover::before {
      opacity: 1;
    }
    &-small {
      &-1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        background-image: url("../img/img08.jpg");
      }
      &-2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        background-image: url("../img/img09.jpg");
      }
      &-3 {
        grid-row: 2 / 3;
        grid-column: 5 / 6;
        background-image: url("../img/img14.jpg");
      }
      &-4 {
        grid-row: 2 / 3;
        grid-column: 6 / 7;
        background-image: url("../img/img15.jpg");
      }
    }
    &-horizontal {
      &-1 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        background-image: url("../img/img10.jpg");
      }
      &-2 {
        grid-row: 1 / 2;
        grid-column: 5 / 7;
        background-image: url("../img/img13.jpg");
      }
    }
    &-vertical {
      &-1 {
        grid-row: 1 / 3;
        grid-column: 3 / 4;
        background-image: url("../img/img11.jpg");
      }
      &-2 {
        grid-row: 1 / 3;
        grid-column: 4 / 5;
        background-image: url("../img/img12.jpg");
      }
    }
  }
  &-btn {
    grid-row: 3 / 4;
    grid-column: 1 / 7;
    padding: 75px 0;
    a {
      display: block;
      width: max-content;
      margin: 0 auto;
      padding: 21px 59px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      letter-spacing: 2.8px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: #282f35;
      }
    }
  }
}

.section-subscribe {
  padding: 109px 0;
  text-align: center;
  h3 {
    margin: 33px 0;
  }
  form {
    input {
      width: 400px;
      height: 67px;
      margin-right: 4px;
      padding: 0 28px;
      border: 1px solid #d3d7d9;
      background-color: #fff;
      color: #cdcdcd;
      font-size: 20px;
      font-style: italic;
      &::placeholder {
        color: #cdcdcd;
      }
      &:focus {
        outline: none;
      }
    }
    button {
      width: 126px;
      height: 69px;
      border: none;
      background-color: #64c29e;
      color: #ffffff;
      font-size: 24px;
      font-weight: 300;
      text-transform: uppercase;
      &:focus {
        outline: none;
      }
    }
  }
}

.footer {
  position: relative;
  padding: 108px 0;
  background-color: $light;
  &__contacts {
    position: absolute;
    left: 108px;
    width: 25%;
    margin: 0;
    line-height: 1.4;
    font-style: italic;
    font-size: 14px;
    span {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.social {
  display: flex;
  justify-content: flex-start;
  width: 135px;
  margin: 0 auto;
  list-style-type: none;
  &__item {
    margin-right: 15px;
    &:last-child {
      margin: 0;
    }
  }
  &__link {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px 35px;
  }
  &__twitter {
    background-color: #78cdf0;
    background-image: url("../img/twitter.svg");
  }
  &__facebook {
    background-color: #537bbd;
    background-image: url("../img/facebook.svg");
  }
  &__pinterest {
    background-color: #eb5755;
    background-image: url("../img/pinterest.svg");
  }
}

.nav-bar {
  display: none;
}

@media (max-width: 1024px) {
  .section-info {
    padding: 117px 180px;
  }

  .section-main {
  grid-template: repeat(2, 2fr 1fr 1fr) 2fr repeat(2, 1fr) 2fr / 1fr;
  }

  .main {
    &-photo {
      &-large {
        &-1 {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
        }
        &-2 {
          grid-row: 4 / 5;
          grid-column: 1 / 2;
        }
      }
      &-medium {
        &-1 {
          grid-row: 7 / 8;
          grid-column: 1 / 2;
        }
        &-2 {
          grid-row: 10 / 11;
          grid-column: 1 / 2;
        }
      }
      &-small {
        &-1 {
          grid-row: 3 / 4;
          grid-column: 1 / 2;
        }
        &-2 {
          grid-row: 6 / 7;
          grid-column: 1 / 2;
        }
        &-3 {
          grid-row: 9 / 10;
          grid-column: 1 / 2;
        }
      }
    }
    &-descr {
      &-1 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
      }
      &-2 {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
      }
      &-3 {
        grid-row: 8 / 9;
        grid-column: 1 / 2;
      }
    }
  }

  .section-shop {
    grid-template: repeat(13, 1fr) / repeat(4, 1fr);
  }

  .shop {
    &-item {
      &-small {
        &-1 {
          grid-row: 1 / 3;
          grid-column: 1 / 3;
        }
        &-2 {
          grid-row: 1 / 3;
          grid-column: 3 / 5;
        }
        &-3 {
          grid-row: 11 / 13;
          grid-column: 1 / 3;
        }
        &-4 {
          grid-row: 11 / 13;
          grid-column: 3 / 5;
        }
      }
      &-horizontal {
        &-1 {
          grid-row: 3 / 5;
          grid-column: 1 / 5;
        }
        &-2 {
          grid-row: 9 / 11;
          grid-column: 1 / 5;
        }
      }
      &-vertical {
        &-1 {
          grid-row: 5 / 9;
          grid-column: 1 / 3;
        }
        &-2 {
          grid-row: 5 / 9;
          grid-column: 3 / 5;
        }
      }
    }
    &-btn {
      grid-row: 13 / 14;
      grid-column: 1 / 5;
    }
  }

  .section-twitter {
    padding: 124px 180px 173px;
  }
}

@media (max-width: 700px) {
  .nav {
    display: none;
    &__logo {
      margin: 0;
    }
    &__btn {
      width: 45px;
      height: 50px;
      border: none;
      background-image: url("../img/menu.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px 0;
  }

  .modal {
    button {
      padding: 0;
    }
    &-dialog {
      max-width: 100%;
      margin: 0;
    }
    &-content {
      border: none;
      border-radius: 0;
    }
    &-header {
      border: none;
      .close {
        margin: -1rem -1rem -1rem -0.9em;
      }
    }
  }

  .nav-700 {
    display: flex;
    align-items: center;
    background-color: $light;
    ul {
      list-style-type: none;
      text-align: center;
    }
  }
}

@media (max-width: 620px) {
  .section-info {
    padding: 117px 120px;
  }

  .section-twitter {
    padding: 124px 120px 173px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    &__contacts {
    position: static;
    order: 2;
    text-align: center;
    }
    .social {
      order: 1;
      margin: 0 0 30px 0;
    }
  }
}

@media (max-width: 470px) {
  .section-info {
    padding: 117px 80px;
  }

  .section-twitter {
    padding: 124px 80px 173px;
  }

  .section-subscribe form {
    input {
      margin: 0 0 30px 0;
    }
  }

  .footer {
    &__contacts {
      width: 100%;
    }
  }
}

@media (max-width: 390px) {
  .section-subscribe form {
    input {
      width: 100%;
    }
  }
}