* { margin: 0; padding: 0; }

body { width: 100%; font-family: "Lato", sans-serif; }

h2 { letter-spacing: 3.6px; color: #353738; font-size: 18px; font-weight: 700; text-transform: uppercase; }

h3 { color: #848789; font-size: 24px; font-style: italic; }

p { color: #848789; }

.header { min-height: 800px; padding-top: 29px; background-image: url("../img/header.jpg"); background-position: center center; background-repeat: no-repeat; background-size: cover; }

.nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; letter-spacing: 2.6px; list-style-type: none; color: #4d4959; font-size: 13px; font-weight: 700; text-transform: uppercase; }
.nav__item { margin: 0 16px; }
.nav__link { letter-spacing: 2.6px; color: #4d4959; font-size: 13px; font-weight: 700; text-decoration: none; text-transform: uppercase; }
.nav__link:hover { border-bottom: 1px solid #4d4959; color: #4d4959; text-decoration: none; }
.nav__logo { margin: 0 45px; }
.nav__logo .nav__link:hover { border: none; }

.icon { margin: 0 auto; background-position: center center; background-repeat: no-repeat; }
.icon-01 { width: 52px; height: 43px; background-image: url("../img/icons/icon01.png"); }
.icon-02 { width: 41px; height: 30px; background-image: url("../img/icons/icon02.png"); }
.icon-03 { width: 32px; height: 32px; background-image: url("../img/icons/icon03.png"); }
.icon-04 { width: 23px; height: 41px; background-image: url("../img/icons/icon04.png"); }
.icon-twitter { width: 32px; height: 27px; margin-bottom: 34px; background-image: url("../img/icons/icon-twitter.png"); }

.section-info { padding: 117px 280px; text-align: center; background-color: #f7f7f7; }
.section-info h2 { margin: 31px 0 21px; }
.section-info p { line-height: 2.1; color: #848789; font-weight: 400; }

.section-main { display: grid; grid-template: repeat(3, 2fr 1fr)/repeat(3, 1fr); }

.main-photo { position: relative; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.main-photo-large-1 { grid-row: 1 / 3; grid-column: 1 / 3; background-image: url("../img/img01.jpg"); }
.main-photo-large-1::after { content: ""; position: absolute; top: calc(50% - 113px/2); left: calc(50% - 118px/2); width: 113px; height: 118px; background-image: url("../img/logo-bike.png"); background-position: center center; background-repeat: no-repeat; background-size: 113px 118px; }
.main-photo-large-2 { grid-row: 3 / 5; grid-column: 2 / 4; background-image: url("../img/img04.jpg"); }
.main-photo-large-2::after { content: ""; position: absolute; top: calc(50% - 152px/2); left: calc(50% - 177px/2); width: 177px; height: 152px; background-image: url("../img/logo-vintage.png"); background-position: center center; background-repeat: no-repeat; background-size: 177px 152px; }
.main-photo-medium-1 { grid-row: 5 / 7; grid-column: 1 / 2; background-image: url("../img/img05.jpg"); }
.main-photo-medium-1::after { content: ""; position: absolute; top: calc(50% - 67px/2); left: calc(50% - 208px/2); width: 208px; height: 67px; background-image: url("../img/logo-text.png"); background-position: center center; background-repeat: no-repeat; background-size: 208px 67px; }
.main-photo-medium-2 { grid-row: 5 / 7; grid-column: 3 / 4; background-image: url("../img/img07.jpg"); }
.main-photo-small-1 { grid-row: 2 / 3; grid-column: 3 / 4; background-image: url("../img/img02.jpg"); }
.main-photo-small-2 { grid-row: 4 / 5; grid-column: 1 / 2; background-image: url("../img/img03.jpg"); }
.main-photo-small-3 { grid-row: 6 / 7; grid-column: 2 / 3; background-image: url("../img/img06.jpg"); }
.main-descr { padding: 70px 68px; text-align: center; font-size: 16px; }
.main-descr h2 { margin: 31px 0 26px; }
.main-descr p { line-height: 1.9; text-align: justify; }
.main-descr hr { width: 50px; margin: 40px auto 0; }
.main-descr-1 { grid-row: 1 / 2; grid-column: 3 / 4; }
.main-descr-2 { grid-row: 3 / 4; grid-column: 1 / 2; }
.main-descr-3 { grid-row: 5 / 7; grid-column: 2 / 3; }

.section-twitter { padding: 124px 301px 173px; text-align: center; background-color: #f7f7f7; }
.section-twitter h2 { letter-spacing: 1.8px; text-transform: none; }
.section-twitter h2 span { color: #848789; font-weight: 300; }
.section-twitter p { line-height: 1.4; font-size: 24px; font-style: italic; }

.carousel-indicators { bottom: -122px; }
.carousel-indicators li { width: 11px; height: 11px; border: 1px solid #c8c8c8; border-radius: 100%; opacity: 1; background-color: #f7f7f7; }
.carousel-indicators .active { background-color: #a9afb3; }

.section-shop { display: grid; grid-template: repeat(2, 1fr) 1fr/repeat(6, 1fr); background-color: #282f35; }

.shop-item { display: block; width: 100%; height: 100%; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.shop-item::before { content: ""; display: block; width: 100%; height: 100%; opacity: 0; background-color: rgba(100, 194, 158, 0.8); background-image: url("../img/icons/icon-shop.png"); background-position: center center; background-repeat: no-repeat; background-size: 98px 54px; -webkit-transition: all 0.3s; transition: all 0.3s; }
.shop-item:hover::before { opacity: 1; }
.shop-item-small-1 { grid-row: 1 / 2; grid-column: 1 / 2; background-image: url("../img/img08.jpg"); }
.shop-item-small-2 { grid-row: 1 / 2; grid-column: 2 / 3; background-image: url("../img/img09.jpg"); }
.shop-item-small-3 { grid-row: 2 / 3; grid-column: 5 / 6; background-image: url("../img/img14.jpg"); }
.shop-item-small-4 { grid-row: 2 / 3; grid-column: 6 / 7; background-image: url("../img/img15.jpg"); }
.shop-item-horizontal-1 { grid-row: 2 / 3; grid-column: 1 / 3; background-image: url("../img/img10.jpg"); }
.shop-item-horizontal-2 { grid-row: 1 / 2; grid-column: 5 / 7; background-image: url("../img/img13.jpg"); }
.shop-item-vertical-1 { grid-row: 1 / 3; grid-column: 3 / 4; background-image: url("../img/img11.jpg"); }
.shop-item-vertical-2 { grid-row: 1 / 3; grid-column: 4 / 5; background-image: url("../img/img12.jpg"); }
.shop-btn { grid-row: 3 / 4; grid-column: 1 / 7; padding: 75px 0; }
.shop-btn a { display: block; width: -webkit-max-content; width: -moz-max-content; width: max-content; margin: 0 auto; padding: 21px 59px; border: 1px solid rgba(255, 255, 255, 0.5); letter-spacing: 2.8px; color: #ffffff; font-size: 14px; font-weight: 700; text-decoration: none; text-transform: uppercase; }
.shop-btn a:hover { background-color: rgba(255, 255, 255, 0.5); color: #282f35; }

.section-subscribe { padding: 109px 0; text-align: center; }
.section-subscribe h3 { margin: 33px 0; }
.section-subscribe form input { width: 400px; height: 67px; margin-right: 4px; padding: 0 28px; border: 1px solid #d3d7d9; background-color: #fff; color: #cdcdcd; font-size: 20px; font-style: italic; }
.section-subscribe form input::-webkit-input-placeholder { color: #cdcdcd; }
.section-subscribe form input:-ms-input-placeholder { color: #cdcdcd; }
.section-subscribe form input::-ms-input-placeholder { color: #cdcdcd; }
.section-subscribe form input::placeholder { color: #cdcdcd; }
.section-subscribe form input:focus { outline: none; }
.section-subscribe form button { width: 126px; height: 69px; border: none; background-color: #64c29e; color: #ffffff; font-size: 24px; font-weight: 300; text-transform: uppercase; }
.section-subscribe form button:focus { outline: none; }

.footer { position: relative; padding: 108px 0; background-color: #f7f7f7; }
.footer__contacts { position: absolute; left: 108px; width: 25%; margin: 0; line-height: 1.4; font-style: italic; font-size: 14px; }
.footer__contacts span { font-size: 16px; font-weight: 700; }

.social { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; width: 135px; margin: 0 auto; list-style-type: none; }
.social__item { margin-right: 15px; }
.social__item:last-child { margin: 0; }
.social__link { display: block; width: 35px; height: 35px; border-radius: 100%; background-position: center center; background-repeat: no-repeat; background-size: 18px 35px; }
.social__twitter { background-color: #78cdf0; background-image: url("../img/twitter.svg"); }
.social__facebook { background-color: #537bbd; background-image: url("../img/facebook.svg"); }
.social__pinterest { background-color: #eb5755; background-image: url("../img/pinterest.svg"); }

.nav-bar { display: none; }

@media (max-width: 1024px) { .section-info { padding: 117px 180px; }
  .section-main { grid-template: repeat(2, 2fr 1fr 1fr) 2fr repeat(2, 1fr) 2fr/1fr; }
  .main-photo-large-1 { grid-row: 1 / 2; grid-column: 1 / 2; }
  .main-photo-large-2 { grid-row: 4 / 5; grid-column: 1 / 2; }
  .main-photo-medium-1 { grid-row: 7 / 8; grid-column: 1 / 2; }
  .main-photo-medium-2 { grid-row: 10 / 11; grid-column: 1 / 2; }
  .main-photo-small-1 { grid-row: 3 / 4; grid-column: 1 / 2; }
  .main-photo-small-2 { grid-row: 6 / 7; grid-column: 1 / 2; }
  .main-photo-small-3 { grid-row: 9 / 10; grid-column: 1 / 2; }
  .main-descr-1 { grid-row: 2 / 3; grid-column: 1 / 2; }
  .main-descr-2 { grid-row: 5 / 6; grid-column: 1 / 2; }
  .main-descr-3 { grid-row: 8 / 9; grid-column: 1 / 2; }
  .section-shop { grid-template: repeat(13, 1fr)/repeat(4, 1fr); }
  .shop-item-small-1 { grid-row: 1 / 3; grid-column: 1 / 3; }
  .shop-item-small-2 { grid-row: 1 / 3; grid-column: 3 / 5; }
  .shop-item-small-3 { grid-row: 11 / 13; grid-column: 1 / 3; }
  .shop-item-small-4 { grid-row: 11 / 13; grid-column: 3 / 5; }
  .shop-item-horizontal-1 { grid-row: 3 / 5; grid-column: 1 / 5; }
  .shop-item-horizontal-2 { grid-row: 9 / 11; grid-column: 1 / 5; }
  .shop-item-vertical-1 { grid-row: 5 / 9; grid-column: 1 / 3; }
  .shop-item-vertical-2 { grid-row: 5 / 9; grid-column: 3 / 5; }
  .shop-btn { grid-row: 13 / 14; grid-column: 1 / 5; }
  .section-twitter { padding: 124px 180px 173px; } }
@media (max-width: 700px) { .nav { display: none; }
  .nav__logo { margin: 0; }
  .nav__btn { width: 45px; height: 50px; border: none; background-image: url("../img/menu.svg"); background-position: center center; background-repeat: no-repeat; }
  .nav-bar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 40px 90px 0; }
  .modal button { padding: 0; }
  .modal-dialog { max-width: 100%; margin: 0; }
  .modal-content { border: none; border-radius: 0; }
  .modal-header { border: none; }
  .modal-header .close { margin: -1rem -1rem -1rem -0.9em; }
  .nav-700 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #f7f7f7; }
  .nav-700 ul { list-style-type: none; text-align: center; } }
@media (max-width: 620px) { .section-info { padding: 117px 120px; }
  .section-twitter { padding: 124px 120px 173px; }
  .footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 80px 0; }
  .footer__contacts { position: static; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; text-align: center; }
  .footer .social { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin: 0 0 30px 0; } }
@media (max-width: 470px) { .section-info { padding: 117px 80px; }
  .section-twitter { padding: 124px 80px 173px; }
  .section-subscribe form input { margin: 0 0 30px 0; }
  .footer__contacts { width: 100%; } }
@media (max-width: 390px) { .section-subscribe form input { width: 100%; } }
/*# sourceMappingURL=style.css.map */